@page "/"
@page "/Categories"

@using ProductCatalogue.Data
@inject CategoryService categoryService


<div class="row">
    <div class="col-lg-9">
        <h2>Category List</h2>
    </div>
    <div class="col-lg-3 text-start">
        <NavLink class="btn btn-success btn-sm" href="AddNewcategory">
            <span class="oi oi-plus" aria-hidden="true">  Add New Category</span>
        </NavLink>
    </div>
    
    <br />
    <br />
</div>


@if(categoryList is null)
{
    <p><em>Loading....</em></p>
}
else
{
    <table class="table table-bordered table-striped table-sm">
        <thead>
            <tr>
                <th>
                    Category No
                </th>
                <th>
                    Category Name
                </th>
                <th>
                    Category Description
                </th>
                <th>
                    Show Products
                </th>
                <th>
                    Edit
                </th>
                <th>
                    Delete
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var cate in categoryList)
            {
                <tr>
                    <td>
                        @cate.Category_Id
                    </td>
                    <td>
                        @cate.CategoryName
                    </td>
                    <td>
                        @cate.CategoryDescription
                    </td>
                    <td>
                        <a class="btn btn-primary btn-sm" href="ProductList/@cate.Category_Id">
                            <span class="oi oi-cart" aria-hidden="true">  View Products</span>
                        </a>
                    </td>
                    <td>
                        <a class="btn btn-secondary btn-sm" href="Editcategory/@cate.Category_Id">
                            <span class="oi oi-pencil" aria-hidden="true">  Edit</span>
                        </a>
                    </td>
                    <td>
                        <a class="btn btn-danger btn-sm" href="Deletecategory/@cate.Category_Id">
                            <span class="oi oi-trash" aria-hidden="true">  Delete</span>
                        </a>
                    </td>


                </tr>
            }
        </tbody>
    </table>
}

@code {


    List<Category> categoryList;

    protected override async Task OnInitializedAsync()
    {
        categoryList = await Task.Run(() => categoryService.GetAllCategories());
    }
}
